@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #5e2c81;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    border-radius: 20px;
    transition: .1s;
}

section#login > div#img {
    background: url("https://thumbs.dreamstime.com/b/paisagem-urbana-e-pr%C3%A9dios-de-luxo-no-centro-da-metr%C3%B3pole-distrito-comercial-do-cidade-em-vista-panor%C3%A2mica-224776460.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

div#formulario {
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 10px;
}

div#formulario > p{
    font-size: .8em;
    margin-bottom: 10px;
}

section#login form > div#email, div#senha {
    width: 100%;
    background-color: #5e2c81;
    padding: 2px;
    margin-bottom: 2px;
    border-radius: 15px;
}

form div input#iemail, input#isenha {
    background-color: #94d1cd;
    outline: none;
    border: 0;
    width: 84%;
    border-radius: 10px;
    padding: 6px;
    transition: .8s;
}

form div input#iemail:focus, input#isenha:focus {
    outline: 1px solid black;
    background-color: #d3ebe9;
}

section#login form  div#email i, div#senha i {
    position: relative;
    right: -2px;
    color: white;
    font-size: 30px;
    vertical-align: middle;
}

div#logar > input {
    background-color: #4faaa4;
    color: white;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 0;
    transition: .4s;
}

div#logar > input:hover {
    background-color: #74cac4;
    cursor: pointer;
}

div#formulario form > a {
    transition: .4s;
    font-size: .9em;
    display: block;
    text-decoration: none;
    border: 1px solid #4faaa4;
    text-align: center;
    padding: 10px;
    width: 100%;
    color: #4faaa4;
    border-radius: 5px;
}

div#formulario form > a:hover {
    background-color: #4faaa42a;
}

div#formulario form > a > i {
    font-size: 18px;
    vertical-align: middle;
}
