@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: rgb(83, 42, 121);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
}

section#login > div#img {
    background: url("https://thumbs.dreamstime.com/b/paisagem-urbana-e-pr%C3%A9dios-de-luxo-no-centro-da-metr%C3%B3pole-distrito-comercial-do-cidade-em-vista-panor%C3%A2mica-224776460.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}